<div class="h-[100vh] w-full xl:grid grid-cols-12">
  <div class="xl:col-start-1 xl:col-end-3 h-[100%] overflow-y-auto scrollbar-colored ss:hidden sm:hidden md:hidden lg:hidden xl:block" id="showNavbar">
    <div>
      {% include 'components/leftside.html' %}
    </div>
  </div>
  <div class="xl:col-start-3 xl:col-end-13 h-[100%] overflow-y-scroll">
    <!-- start navbar -->
    <div class="w-full">
      {% include 'components/navbar.html' %}
    </div>
    <!-- end navbar -->

    <!-- start contents -->
    <h1>Hellow im admin 
      i am am your admin krish
    </h1>
    <!-- end contents -->

    
    <!-- footer start -->
    <div>
      {% include 'components/footer.html' %}
    </div>
    <!-- footer end -->
  </div>
</div>
