{% load static %}
<section class="h-auto w-full bg-gradient-to-b from-green-700 to-blue-700 text-white">
  <div class="px-2 py-4.5 border-b border-white/20">
    <div class="flex justify-between">
      <div class="flex items-center">
        <div class="w-[70px] h-[80px] flex-shrink-0">
          <a href="/"><img src="{% static 'images/wealth.png' %}" class="w-full h-full object-contain rounded-full" alt="Logo" /></a>
        </div>
        <div class="ml-4">
          <div class="text-xl font-bold leading-tight">WEALTH</div>
          <div class="text-xl font-bold leading-tight">ORDER</div>
          <div class="text-white/80 text-xs">FINANCIAL FREEDOM</div>
        </div>
      </div>
      <div class="text-2xl cursor-pointer px-4 hidden">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
  </div>
  <!-- Menu Items -->
  <nav class="flex-1 h-[84vh] overflow-y-auto scrollbar-colored bg-gradient-to-b from-green-700 to-blue-700">
    <ul class="mt-4 space-y-1">
      {% for item in nav_items %}
        <li>
          <a href="{{ item.url }}"
            class="flex items-center px-6 py-3 rounded-lg gap-3
                  {% if item.highlight %}
              
                  
                    
                    
                    
                    
                    
                    
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                    bg-gradient-to-r from-green-700 to-blue-400 text-white



















            {% else %}
              
                  
                    
                    
                    
                    
                    
                    
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                      hover:bg-white/10 text-white



















            {% endif %}">
            {{ item.icon|safe }}
            <span class="font-semibold">{{ item.label }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class="">
      <!-- Calculators -->
      <div class="px-6 py-4 border-t border-white/20" onclick="showtoggalCal()">
        <p class="flex items-center gap-3 cursor-pointer font-semibold">
          <span>📱</span>
          All Calculators
        </p>
      </div>
      <div id="calculatorsDatas" class="hidden">
        <ul>
          {% for item in calculators %}
            <li onclick="{{ item.function }}"
              class="flex items-center px-6 py-3 rounded-lg gap-3
              {% if item.highlight %}
                
                    
                      
                      
                      
                      
                        
              bg-gradient-to-r from-green-700 to-blue-400 text-white






              {% else %}
                
                    
                      
                      
                      
                      
              hover:bg-white/10 text-white






              {% endif %}">
              {{ item.icon|safe }}
              <span class="font-semibold">{{ item.name }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</section>
