{% load static %}
<div class="w-full sticky top-0 z-50">
  <!-- Navigation Bar -->
  <nav class="bg-white shadow-md py-3 px-6 flex items-center justify-between gap-5 xl:px-10">
    <!-- Left Section -->
    <div class="flex items-center space-x-2">
      <span class="font-bold text-gray-800 xl:block sm:hidden text-2xl hideSomthing">Wealth order</span>
      <div class="items-center xl:hidden">
        <div class="w-[80px] h-[80px]">
          <img src="{% static 'images/wealth.png' %}" alt="Wealth" class="w-full h-full object-cover rounded-full" />
        </div>
      </div>
    </div>

    <!-- Center Search -->
    <div class="flex-1 max-w-xl mx-4 hideSomthing">
      <div class="relative">
        <input type="text" placeholder="Search investments, funds, bond" class="w-full py-2 px-4 pl-10 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" />
        <svg class="w-5 h-5 absolute left-3 top-2.5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
      </div>
    </div>

    <!-- Right Section -->
    <div class="xl:block sm:hidden lg:hidden md:hidden hideSomthing">
      <div class="xl:w-[200px] xl:flex items-center justify-between">
        <div class="relative">
          <div class="text-2xl p-1">🔔</div>
          <div class="absolute top-0 right-0 bg-red-600 text-white rounded-full w-6 h-6 flex items-center justify-center text-xs transform -translate-y-1/4 translate-x-1/4 ring-2 ring-white">3</div>
        </div>
        <div>
          {% if 20 == 10 %}
            <div class="font-medium py-1 px-3 rounded-full text-sm flex items-center gap-1">
              <div class="w-[35px] h-[35px] border-2 rounded-full"></div>
              <div>
                <p>Krish mehra</p>
                <p>active investor</p>
              </div>
              <div>
                <i class="fa-solid fa-caret-down"></i>
              </div>
            </div>
          {% else %}
            <a href="/user/login" class="font-bold text-md bg-green-700 text-white py-2 px-4 rounded-md hover:bg-blue-900 transition duration-300 ease-in-out scale-250">Login</a>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- Mobile View -->
    <div class="xl:hidden sm:block lg:block md:block">
      {% if 20 == 10 %}
        <div class="xl:hidden sm:block lg:block md:block text-2xl">
          <a href="/user/login"><i class="fa-solid fa-user-plus"></i></a>
        </div>
      {% else %}
        <div class="text-2xl" id="showNavbarData">
          <i class="fa-solid fa-bars-staggered"></i>
        </div>
      {% endif %}
    </div>
  </nav>
</div>
